p {
    margin-top:0;
    margin-bottom: 1rem;
}

html {
    font-size: 16px;
}

body {
    padding:10px;
    padding-top: 70px;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.btn-secondary {
    background-color: #007bff;
    color: white;
}

.btn-secondary:hover {
    color: #f5f5f5;
}

.modal-footer {
    background-color: #dee2e6;
}

.modal-content {
    overflow: hidden;
}

.profilnaSlika {
    margin: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075);
    border-radius:50%;
    padding: .25rem;
    background-color: #fff;
    max-width: 100%;
    height: auto;
    width: 68%;
}

.mainContainer {
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075);
    border-radius: .3rem;
    margin: 0.5rem;
    overflow: hidden;
}

.osebniPodatkiInnerContainer{
    margin: 1.5rem 0.9rem;
}

.osebniKey {
    color:#9E9E9E;
    margin-bottom: 0px;
    line-height: 75%;
    font-size: 90%;
    font-weight:lighter;
}

.osebniValue {
    line-height: 100%;
    font-size: 130%;
    font-weight: bold;
}

.vitalniZnakiContainer{
    margin: 1rem;
}

.osnovniVitalniZnakiCol {
    display: inline-block;
    margin-right: 1rem;
}

.vitalniText {
    display: inline-block;
    font-weight: lighter;
    font-size: 100%;
    vertical-align:middle;
    margin-bottom:0;
}

.vitalniTextMain {
    font-weight: bold;
    font-size: 140%;
}


.mainGrafContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 29rem;
}

.grafContainer {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075);
    border-radius: .3rem;
    flex-basis: 48%;
    height: 48%;
    overflow: hidden;
}

.graf {
    height: 75%;
}

.grafIme {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dee2e6;
}

.grafImeContainer {
    display: inline-block;
}

.zamenjajUporabnikaHover {
    background-color: #2e87e6;
    margin: 0 -15px;
}

.zamenjajUporabnika {
    background-color: #007bff;
    color: white;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 131%;
    cursor: pointer;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.dropdownZamenjajUporabnika{
    display: none;
    
}

.zamenjajUporabnikaHover:hover .dropdownZamenjajUporabnika {
    display: block;
}

.zamenjajUporabnikaDropdownItem {
    height: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

.zamenjajUporabnika:hover, .zamenjajUporabnikaDropdownItem:hover {
    color: #f5f5f5;
}

.izberiSimptomeHover {
    width: 15rem;
    margin-right: 10px;
}

.izberiSimptome {
    background-color: #007bff;
    color: white;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075);
    z-index: 1;
    position: relative;
}

.simptomiList {
    display: none;
    position: absolute;
    bottom: 2.5rem;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    overflow-y: scroll;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075);
    background-color: white;
    width: 15rem;
    padding-bottom: 1rem;
    height: 30rem;
}

.simptomiListItem {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dee2e6;
    margin: 0 10px;
    cursor: pointer;
}

.izberiSimptomeHover:hover .simptomiList {
    display: block;
}

.simptomi {
    display: flex;
    flex-wrap: wrap;
}

.poisciDiagnozo {
    cursor: pointer;
    width: 2.5rem;
    margin-right: 10px;
    position: unset;
}

.infoToggle {
    right: 0;
    position: absolute;
    margin-right: 2.4rem;
    cursor: pointer;
}

.panel-default>.panel-heading {
    background-color: #007bff;
}

.panel-title {
    color: white;
}

.modalVitalni {
    font-weight: bold;
}

/*Za zemljevid*/

#mapid {
    height: 630px;
}